certifi
charset-normalizer
click
dnspython
filelock
Flask
fsspec
gensim
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
packaging
Pillow
pymongo
PyYAML
regex
requests
safetensors
scipy
smart-open
tokenizers
tqdm
transformers
typing_extensions
urllib3
Werkzeug
pandas
flask-sqlalchemy
flask-caching
openai
fuzzywuzzy
torch
