@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #054784;
    text-align: center;
    background-color: #f5f8fa;
}

.login-form {
    font-family: Raleway, sans-serif;
    position: fixed;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}