<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='style/chatbot.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>    </head>
    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg main-nav px-0">
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto text-uppercase f1">
                            <li><a href="#">User Information</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Exit</a></li>
                        </ul>
                        <div class="container-user-info">
                            <div class="container-user-image">
                                {% if user_image %}
                                <img src="{{ user_image }}">
                                {% endif %}
                            </div>
                            <div class="container-username">
                                <p class="container-username-text" type="text" value="{{ user_name }}">
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="chatbot-workspace-container">
            <div class ="tree-container">
                <ul class = "tree-view mt-3">
                </ul>
            </div>
            <div class="chat-container">
                <div class="chat-box mt-3">
                </div>
                <div class="form-group-user">
                    <textarea class="form-control-user" rows="1" placeholder="Nhập yêu cầu/câu hỏi" id="message-input"></textarea>
                </div>
                <button type="button" class="btn" id="send-btn">Send</button>
            </div>
        </div>
        <div class = "fixed-box">
            <div class = "label-policy">Privacy @2023</div>
        </div>
        <script>
            setInterval(highlightAll, 1000);
            // Function to highlight code using highlight.js library
            function highlightAll() {
                document.querySelectorAll("pre code").forEach(block => {
                    hljs.highlightBlock(block);
                });
            }
            const treeview = document.querySelector(".tree-view");
            const chatBox = document.querySelector(".chat-box");
            const messageInput = document.querySelector("#message-input");
            const sendBtn = document.querySelector("#send-btn");
            
            function addMessage(message, isUserMessage) {
                const messageDiv = document.createElement("div");
                messageDiv.classList.add("mt-3", "p-3", "rounded");
                const treeItem = document.createElement("li");
                treeItem.classList.add("mt-3");
            
                if (isUserMessage) {
                    messageDiv.classList.add("user-message");
                    treeItem.classList.add("tree-item");
                    treeItem.addEventListener("click", viewItem);
                } else {
                    messageDiv.classList.add("bot-message");
                }
            
                messageDiv.innerHTML = `<img src="" class="user-icon"><p>${message}</p>`;
                treeItem.innerHTML = `<imge src=""><p class="tree-item-click">${message}</p>`;
            
                chatBox.appendChild(messageDiv);
                chatBox.scrollTop = chatBox.scrollHeight;
                treeview.appendChild(treeItem);
                treeview.scrollTop = treeview.scrollHeight;
            }
            
            function sendMessage() {
                const message = messageInput.value.trim();
            
                if (message !== "") {
                    addMessage(message, true);
                    fetch("/api", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ message })
                        })
                        .then(response => response.json())
                        .then(data => {
                            messageInput.value = "";
                            const messageDiv = document.createElement("div");
                            messageDiv.classList.add("mt-3", "p-3", "rounded");
                            messageDiv.classList.add("bot-message");
                            const content = data.content;
                            // Check if the content has code block
                            const hasCodeBlock = content.includes("```");
                            if (hasCodeBlock) {
                                // If the content has code block, wrap it in a <pre><code> element
                                const codeContent = content.replace(/```([\s\S]+?)```/g, '</p><pre><code>$1</code></pre><p>');
                                messageDiv.innerHTML = `<img src="" class="bot-icon"><p>${codeContent}</p>`
                            } else {
                                messageDiv.innerHTML = `<img src="" class="bot-icon"><p>${content}</p>`
                            }
                            chatBox.appendChild(messageDiv);
                            chatBox.scrollTop = chatBox.scrollHeight;
            
                        })
                        .catch(error => console.error(error));
                }
            }
            sendBtn.addEventListener("click", sendMessage);
            messageInput.addEventListener("keydown", event => {
                if (event.keyCode === 13 && !event.shiftKey) {
                    event.preventDefault();
                    sendMessage();
                }
            });
            
            function viewItem(event) {
                // Get the clicked `li` tag.
                const li = event.target;
                const item_view = li.getElementsByTagName('p')[0].innerHTML;
                const chatBoxElements = document.getElementById(".chat-box");
                for (const chatBoxElement of chatBoxElements) {
                    const pElement = chatBoxElement.querySelector('p');
                    if (pElement.textContent === item_view) {
                        chatBoxElement.scrollIntoView(true);
                        chatBoxElement.scrollIntoView({ smooth: true });
                    }
                }
            }
        </script>
    </body>
</html>