<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class = "nohcel-chatbox">
            <div class ="container-user">
                <div class ="container-user-image">
                    {% if user_image %}
                    <img src= {{app.application._user.image}} >
                    {% endif%}
                </div>
                <div class ="container-username">
                    <p class "container-username-text" type ="text" value ="{{app.application._user.username}}">
                    </p>
                </div>

                    <div class="container-list-user-function">
                        <ul>
                            <li><button name="add">Your Infomation</button></li>
                            <li><button name="remove">Settings</button></li>
                            <li><button name="clear">Exit</button></li>
                        </ul>
                    </div>
            </div>

            <div class ="container-nohcel-chatbox-workspace" method = get>
                <div class = "container-nohcel-chatbox-tree">
                    <div class = "container-nohcel-chatbox-tree-name">
                        <p class ="treename" type = "text" value ={{chatbox.tree.name}}>
                        </p> 
                    </div>
                    <div class ="container-nohcel-chatbox-tree-item">
                        {% for item in {{chatbox.tree.item}} %}
                            <li>{{ item }}</li>
                        {% endfor %}
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>