<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/chatbox.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <header class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg main-nav px-0">
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto text-uppercase f1">
                            <li><a href="#">User Information</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="/home">Exit</a></li>
                        </ul>
                        <div class="container-user">
                            <div class="container-user-image">
                                {% if user_image %}
                                <img src="{{ user_image }}">
                                {% endif %}
                            </div>
                            <div class="container-username">
                                <p class="container-username-text" type="text" value="{{ user_name }}">
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="nohcel-chatbox">
            <div class="container-nohcel-chatbox-workspace">
                <div class="container-nohcel-chatbox-tree">
                    <div class="container-nohcel-chatbox-tree-name">
                        <p class="treename" type="text">
                            requests workspace
                        </p>
                    </div>
                    <form method="post" action="/chatbox">
                        <ul id="compositions-list" class="pure-tree">
                            {% for item in tree_request %}
                                <li class = "tree-li">
                                    <button type="submit" class="pure-tree-link" value="{{ item['_id'] }}" name="option">{{item['subject']}}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
                <div class="container-nohcel-chatbox-view">
                    <div class="container-nohcel-chatbox-action">
                        <form action="/chatbox" method="post">
                            <div class = "parent">
                                <button class="init-request-button" name="button" value="init">Tạo câu hỏi mới</button>
                            </div>
                        </form>
                    </div>
                    <div class="request-item-view">
                        {% if item_request %}
                            <p class = "text-session">Subject: </p>
                            <div class="item-subject">
                                <p class = "text-session-item">  {{ item_request['subject'] }}  </p>
                            </div>
                            <p class = "text-session">Question: </p>
                            <div class="item-question">
                                <p class = "text-session-item">  {{ item_request['request'] }}  </p>
                            </div>
                            <p class = "text-session">Respone: </p>
                            <div class="item-respone">
                                <p class = "text-session-item">  {{ item_request['respone'] }}  </p>
                            </div>
                        {% elif item_new %}
                            <form class = "new" action = "/chatbox" method = "post">
                                <p class = "text-session">Subject: </p>
                                <div class="item-subject">
                                    <textarea class ="form-entry-request" type="text" name="subject-entry" value="subject" placeholder = "Nhập chủ đề"></textarea>
                                </div>
                                <p class = "text-session">Question: </p>
                                <div class="item-question">
                                    <textarea class = "form-entry-request" type="text" name="question-entry" value="question" placeholder = "Nhập câu hỏi"></textarea>
                                </div>
                                <div class = "item-clicked-button">
                                    <button class ="init-request-button-click" name="button-clicked" value="init_request">OK</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-box">
            <div class="label-policy">Privacy @2023</div>
        </div>
        <script src="" async defer>
            function clickItemTree{
                
            }
        </script>
    </body>
</html>
