<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='style/home.css') }}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    </head>
    
    <body>
        <header class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg main-nav px-0">
                    <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                        <a href="/login" class="active active-first">Back to Login</a>
                        </li>
                        <li>
                        <a href="#about">Help</a>
                        </li>
                        <li>
                        <a href="#service">Your Information</a>
                        </li>
                        <li>
                        <a href="#project">Settings</a>
                        </li>
                        <li>
                        <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </header>
            <div class = "navbar-userinfo">
                <div class ="container-user" > 
                    <div class= "container-user-image" data-app-image = "{{app_image}}">
                        <img src="data:image/jpg;base64, {{app_image}}"/>
                    </div>
                    <div class ="container-username" data-app-username="{{app_username}}">
                        <p class "container-username-text" type ="text">
                            {{app_username}}
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <!-- /.container -->
            <div class = "nohcel-home">
                <div class ="container-user">
                    <div class="container-list-home-function">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static',filename='style/images/chatbox.jpg') }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Box Assitant</h5>
                                    <p class="card-text">Hỗ trợ xử lí yêu cầu và câu hỏi sinh viên trực tiếp. Quản lý bởi quản trị viên hệ thống</p>
                                    <form action = "/home" method = post>
                                        <button class="btn btn-primary" type = "submit" name = "button" value ="chatbox">Đi tới</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static',filename='style/images/chatbot.jpg') }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chatbot</h5>
                                    <p class="card-text">API mô hình ngôn ngữ lớn được đào tạo few - shot từ dữ liệu nội bộ.</p>
                                    <form action = "/home" method = post>
                                        <button class="btn btn-primary" type = "submit" name = "button" value ="chatbot">Đi tới</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static',filename='style/images/speechtotext.jpg') }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Speech to Text</h5>
                                    <p class="card-text">Hệ thống Speech To Text, kết hợp mô hình ngôn ngữ và mô hình Audio.</p>
                                    <form action = "/home" method = post>
                                        <button class="btn btn-primary" type = "submit" name = "button" value ="speechtotext">Đi tới</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class = "fixed-box">
            <div class = "label-policy">Privacy @2023</div>
        </div>
        <script src="" async defer></script>
    </body>
</html>