.body {
    background-color: #ececec;
}

.nav-bar {
    margin-top: 0px;
    height: 35px;
    align-items: left;
    background-color: #15256e;
    flex-direction: column;
}

.btn-nav {
    margin-top: 10px;
    position: relative;
    background-color: #15256e;
    color: #ffffff;
    border: 0px;
    margin-left: 20px;
    font-size: 12px;
}

.card-body {
    align-items: center;
}

.wrap-input-entry {
    text-align: left;
    align-content: right;
}

.input100 {
    height: 25px;
    margin-right: 0px;
}

.wrap-label-content {
    vertical-align: left;
}

.label-content {
    font-size: small;
    text-align: left;
}

.wrap-input-content {
    vertical-align: right;
}

.input100 {
    width: auto;
    position: relative;
}

.wrap-forgot-btn {
    text-align: right;
}

.forgot-btn {
    margin-top: 100px;
    width: 200px;
    border: 0px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: underline;
}

.forgot-btn:hover {
    background-color: #15256e;
    color: #ffffff;
}

.container {
    margin-top: 40px;
}