.body {
    margin-top: 25%;
    background-color: #ececec;
}

.forgot-form {
    height: 50%;
}

.card {
    padding: 100px;
    text-align: left;
    min-width: 800px;
    min-height: 1000px;
    margin: auto;
    display: table;
    background-color: #ececec;
}

.card-body {
    align-items: center;
    text-align: center;
}

.input100 {
    height: 25px;
}

.label-content {
    font-size: small;
}