@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #054784;
    text-align: center;
    background-color: #ececec;
}

.card-body {
    margin-top: 100px;
}

.icon {
    background: url("images/color_logo.png");
    height: 20px;
    width: 20px;
    display: block;
}

.login-form {
    padding: 100px;
    text-align: left;
    min-width: 800px;
    min-height: 1000px;
    margin: auto;
    display: table;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.wrap-label {
    margin-top: 10px;
    margin-bottom: 6px;
    align-self: center;
    text-align: center;
}

.wrap-input-entry {
    align-self: center;
    text-align: center;
}

.input100 {
    width: 100%;
    justify-self: auto;
    border-width: 100%;
    text-align: left;
    height: 25px;
    font-size: smaller;
}