<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header class="main-header">
            <div class="container">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <a class="navbar-brand" href="/mojo">
                                <img src="http://rajeshdas.com/assets/images/logo.svg" alt="rajeshdas.com">
                                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar icon-bar-1"></span>
                                <span class="icon-bar icon-bar-2"></span>
                                <span class="icon-bar icon-bar-3"></span>
                            </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto text-uppercase f1">
                    <li>
                    <a href="#home" class="active active-first">home</a>
                    </li>
                    <li>
                    <a href="#about">about us</a>
                    </li>
                    <li>
                    <a href="#service">services</a>
                    </li>
                    <li>
                    <a href="#project">projects</a>
                    </li>
                    <li>
                    <a href="#team">team</a>
                    </li>
                    <li>
                    <a href="#testimony">testimonils</a>
                    </li>
                    <li>
                    <a href="#contact">contact</a>
                    </li>
                </ul>
                </div>
            </nav>
            </div>
            <!-- /.container -->
        </header>
  
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>